#local-search .search-dialog .local-search__hit-item:before {
  content: none !important;
}

#local-search .search-dialog .local-search__hit-item {
  padding: 10px !important;
  border-radius: 8px;
  border: var(--style-border);
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#local-search .search-dialog .local-search__hit-item .search-left {
  width: 35%;
  padding: 1rem;
}

#local-search .search-dialog .local-search__hit-item .search-right {
  width: 60%;
}

#local-search .search-dialog .local-search__hit-item .search-left img {
  object-fit: cover;
  width: 100%;
  background: var(--anzhiyu-secondbg);
  border-radius: 8px;
  transition: all 0.6s ease 0s;
}

#local-search .search-dialog .local-search__hit-item .search-left:hover img {
  filter: brightness(0.82) !important;
  transform: scale(1.06) !important;
  transition: 0.3s ease-in-out;
}

#local-search .search-dialog .local-search__hit-item .search-result {
  cursor: pointer;
}

#local-search .tag-list {
  padding: 4px 8px;
  border-radius: 8px;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  border: var(--style-border);
  cursor: pointer;
}

#local-search .search-dialog .local-search__hit-item .tag-list {
  display: inline;
}

#local-search .search-dialog .local-search__hit-item .tag-list:hover {
  background: var(--anzhiyu-main);
  color: var(--anzhiyu-white);
}

#local-search .search-dialog .search-right .search-result-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@media screen and (max-width: 768px) {
  #local-search .search-dialog .local-search__hit-item .search-right {
    width: 100%;
    padding: 0.8rem;
  }

  #local-search .search-dialog .local-search__hit-item .search-left {
    display: none;
  }
}
